body {
    text-align: center;
  }
  *{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h1 {
    color: #333;
   
  }
  
  #todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
  }
  
  #todo-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  #add-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #201e1e;
    color: #fff;
      border-radius:25px;
    cursor: pointer;
  }
  
  #todo-list {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
  }
  
  #todo-list li {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #todo-list li input[type="checkbox"] {
    margin-right: 10px;
  }
  